yolo11n-pose.pt
/runs/
/pose-coolness-project/
/datasets/
yolo11n-pose.pt
/testimages/
/images/
coolness_scores.csv
/pose_black_bg
coolness_dataset.json
pose_keypoints.csv
predicted_scores.csv
/images_single_fullbody/
game.py
scores.txt

